<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173551031-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173551031-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="../css/adminStore/bootstrap.min.css">
    <link rel="stylesheet" href="../css/adminStore/font-awesome.min.css">
    <link rel="stylesheet" href="../css/adminStore/themify-icons.css">
    <link rel="stylesheet" href="../css/adminStore/cs-skin-elastic.css">
    <link rel="stylesheet" href="../css/adminStore/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body ng-app="myProjectApp" ng-controller="storeController">
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-item">
                        <a href="/adminView"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">Control Panel</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="/adminProduct">Ana məhsullar</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="/adminSubProduct">Məhsullar</a></li>
                            <li><i class="fa fa-bars"></i><a href="/adminOrders">Sifarişlər</a></li>
                            <li><i class="fa fa-share-square-o"></i><a href="/adminCustomer">Müştərinin məlumatları</a></li>
                            <li><i class="fa fa-id-card-o"></i><a href="/adminMessage">Mesajlar</a></li>
                            <li><i class="fa fa-id-card-o"></i><a href="/adminStore">Depo</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <h5 style="font-style:italic;color:purple">Depo</h5>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <img class="user-avatar rounded-circle" ng-src="{{photo}}">Səhifənizə xoş gəlmisiniz
                            <h4 ng-bind="getUser.name" style="color: green; text-align: center"></h4>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="/adminProduct"><i class="fa fa-user"></i> Ana məhsullar</a>

                            <a class="nav-link" href="/adminSubProduct"><i class="fa fa-user"></i> Məhsullar</a>
                            <a class="nav-link" href="/adminCustomer"><i class="fa fa-user"></i> Müştərilər</a>
                            <a class="nav-link" href="/adminMessage"><i class="fa fa-user"></i> Mesajlar
                                <h7 style="color: white; background-color: black">{{getMessage}}</h7>
                            </a>


                            <a class="nav-link" href="/logout"><i class="fa fa-power-off"></i> Çıxış</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->



        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                <div class="col-md-12">
                    <figure class="highcharts-figure">
                        <p class="highcharts-description">
                            Chart showing browser product shares. Clicking on individual columns
                            brings up more detailed data.
                        </p>
                        <div id="container"></div>
                    </figure>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#newProduct">New Product</button>
                        <button class="btn btn-danger btn-lg float-right" data-toggle="modal" data-target="#deleteProduct">Delete Product</button>
                        <br>
                        <h4>All product in store</h4>
                        <br>
                        <table class="table table-dark table-bordered dataTable no-footer" style="text-align: center">
                            <thead>
                                <th>ID</th>
                                <th>Product name</th>
                                <th>Product type</th>
                                <th>Price</th>
                                <th>Product min count</th>
                                <th>Count in stock</th>
                                <th>Product max count</th>
                                <th>Operation</th>
                            </thead>
                            <tbody ng-repeat="elem in allData">
                                <tr>
                                    <td ng-bind="elem.id">1</td>
                                    <td ng-bind="elem.subProduct.name">Yumurta</td>
                                    <td ng-bind="elem.subProduct.type">Ədəd</td>
                                    <td ng-bind="elem.subProduct.price">0.25</td>
                                    <td ng-bind="elem.minCount" style="color: red"></td>
                                    <td ng-bind="elem.count">35</td>
                                    <td ng-bind="elem.maxCount" style="color: green;"></td>
                                    <td>
                                        <a class="btn btn-primary" ng-click="checkPie(elem.id)"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-success" data-toggle="modal" data-target="#addModal" ng-click="addValue(elem.id)"><i class="fa fa-plus"></i></a>
                                        <a class="btn btn-warning" ng-click="checkPie(elem.id)"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <figure class="highcharts-figure">
                            <div id="pie"></div>
                            <p class="highcharts-description">
                                Chart showing browser market shares. Clicking on individual columns
                                brings up more detailed data. This chart makes use of the drilldown
                                feature in Highcharts to easily switch between datasets.
                            </p>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Minimum product in store</h4>
                        <br>
                        <table class="table table-dark table-bordered dataTable no-footer" style="text-align: center">
                            <thead>
                            <th>ID</th>
                            <th>Product name</th>
                            <th>Product type</th>
                            <th>Price</th>
                            <th>Product min count</th>
                            <th>Count in stock</th>
                            <th>Product max count</th>
                            <th>Operation</th>
                            </thead>
                            <tbody ng-repeat="elem in minData">
                            <tr>
                                <td ng-bind="elem.id">1</td>
                                <td ng-bind="elem.subProduct.name">Yumurta</td>
                                <td ng-bind="elem.subProduct.type">Ədəd</td>
                                <td ng-bind="elem.subProduct.price">0.25</td>
                                <td ng-bind="elem.minCount" style="color: red"></td>
                                <td ng-bind="elem.count">35</td>
                                <td ng-bind="elem.maxCount" style="color: green;"></td>
                                <td>
                                    <a class="btn btn-primary" ng-click="checkPie(elem.id)"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-success" data-toggle="modal" data-target="#addModal" ng-click="addValue(elem.id)"><i class="fa fa-plus"></i></a>
                                    <a class="btn btn-warning" ng-click="checkPie(elem.id)"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header panel panel-red">
                    <h3 class="modal-title" style="color: black; text-align: center;">
                        <strong class="align-content-center"
                                style="text-align: center;font-family: 'Times New Roman'">
                            <center>Product additional</center>
                        </strong>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="number" class="form-control" placeholder="Insert count" ng-model="newData">
                        </div>
                        <button class="btn btn-primary" ng-click="insertData(newData)">Insert</button>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered dataTable" style="text-align: center">
                                <thead>
                                <th>ID</th>
                                <th>Product name</th>
                                <th>Product min count</th>
                                <th>Count in stock</th>
                                <th>Product max count</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="elem in checkData">
                                    <td ng-bind="elem.id">1</td>
                                    <td ng-bind="elem.name">Yumurta</td>
                                    <td ng-bind="elem.minCount"></td>
                                    <td ng-bind="elem.count">35</td>
                                    <td ng-bind="elem.maxCount"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-5">
                            <button type="button" class="btn btn-danger form-control"
                                    data-dismiss="modal">
                                Bağla
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newProduct" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header panel panel-red">
                    <h3 class="modal-title" style="color: black; text-align: center;">
                        <strong class="align-content-center"
                                style="text-align: center;font-family: 'Times New Roman'">
                            <center>New product</center>
                        </strong>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Product name</label>
                            <select class="form-control" ng-model="Pselected">
                                <option ng-repeat="elem in allSubData">{{elem.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Product status</label>
                            <select class="form-control" ng-model="Sselected">
                                <option>Active</option>
                                <option>Passive</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Minimum count</label>
                            <input type="number" class="form-control" placeholder="Min" ng-model="dataMin">
                        </div>
                        <div class="col-md-4">
                            <label>Recently count</label>
                            <input type="number" class="form-control" placeholder="Recently" ng-model="dataCount">
                        </div>
                        <div class="col-md-4">
                            <label>Maximum count</label>
                            <input type="number" class="form-control" placeholder="Max" ng-model="dataMax">
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <div class="col-md-12">
                            <button type="button" class="btn btn-danger float-left"
                                    data-dismiss="modal">
                                Bağla
                            </button>
                          <button type="button" class="btn btn-success float-right"
                                data-dismiss="modal" ng-click="insertProduct()">
                            Insert
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteProduct" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header panel panel-red">
                    <h3 class="modal-title" style="color: black; text-align: center;">
                        <strong class="align-content-center"
                                style="text-align: center;font-family: 'Times New Roman'">
                            <center>Delete product</center>
                        </strong>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                        <input class="form-control" placeholder="Store id" ng-model="elementId">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary form-control" ng-click="deleteStore()">Delete</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger form-control" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right Panel -->

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/modules/export-data.js"></script>
    <script src="http://code.highcharts.com/modules/accessibility.js"></script>


    <script src="../angular/angular.js"></script>
    <script src="../angular/projectApp.js"></script>
    <script src="../angular/adminStore/adminStoreController.js"></script>
    <script src="../angular/adminStore/adminStoreService.js"></script>


    <script src="../js/adminStore/jquery.min.js"></script>
    <script src="../js/adminStore/popper.min.js"></script>
    <script src="../js/adminStore/bootstrap.min.js"></script>
    <script src="../js/adminStore/main.js"></script>
    <!--  Chart js -->
    <script src="../js/adminStore/Chart.bundle.min.js"></script>

</body>

</html>
